workflows/job-application-workflow v2.json
{
  "name": "job-application-workflow v2",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-3-haiku-20240307",
          "mode": "list",
          "cachedResultName": "claude-3-haiku-20240307"
        },
        "messages": {
          "values": [
            {
              "content": "=Job Filtering Prompt for N8N Pipeline\nContext\nYou are filtering job opportunities for a person.\n- Availability: Seeking working student positions or internships\n- Language: A2 German, fluent English\n\nWhat He's Looking For\n- Data science and analytics roles\n- Machine learning and AI positions (primary interest)\n- Software development with data/ML components\n- E-commerce and product analytics\n- Supply chain and energy storage sector\n- Business intelligence and data engineering\n- Startups or established tech companies\n- Any opportunity to apply AI/ML in real business contexts\n- AI automation pipelines (n8n)\n\nGeographic Requirements:\n- MUST be in Germany (any city, remote/hybrid acceptable)\n\nREJECT jobs that:\n- Are outside Germany (unless explicitly remote for German companies)\n- Are clearly spam/fake postings\n\nJob ID: {{ $json.id }}\nJob Details:\n{{ $json.link }}\n{{ $json.title }}\n{{ $json.companyName }}\n{{ $json.companyLinkedinUrl }}\n{{ $json.location }}\n{{ $json.salaryInfo }}\n{{ $json.applyUrl }}\n{{ $json.descriptionText }}\n{{ $json.employmentType }}\n{{ $json.inputUrl }}\n{{ $json.companyWebsite }}\n\nRespond with only JSON: {\"id\": \"{{ $json.id }}\", \"verdict\": \"true\"} or {\"id\": \"{{ $json.id }}\", \"verdict\": \"false\"}\nRespond with ONLY the JSON object. No additional text or explanation."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        -224,
        496
      ],
      "id": "d38e9771-c557-4895-b39d-8ea9b9be57a1",
      "name": "Message a model"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -288,
        272
      ],
      "id": "c35908e3-8d89-4d32-812a-6b4055619cab",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        80,
        288
      ],
      "id": "6b6b64dc-b12c-41c1-9aed-8f423952d1dc",
      "name": "Wait",
      "webhookId": "ca7d44a8-bc23-4294-a51f-e50e5bbc1c25"
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude's response\nconst responseText = items[0].json.content[0].text;\nconst result = JSON.parse(responseText);\n\nreturn [{\n  json: {\n    job_id: result.id,\n    verdict: result.verdict,\n    passes_filter: result.verdict === \"true\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        528
      ],
      "id": "6d12d0f3-22bc-4053-8457-56417d33c32a",
      "name": "Code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1008,
        80
      ],
      "id": "48ca5b58-826d-4cc6-a3d6-008954914e32",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "url": "https://docs.google.com/document/d/<YOUR DOCUMENT HERE>/edit?usp=sharing",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -640,
        80
      ],
      "id": "743e8bdb-be57-462a-8ba2-288eef881e37",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "https://docs.google.com/document/d/<YOUR DOCUMENT HERE>/edit?usp=sharing",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -816,
        80
      ],
      "id": "687a21c8-4398-4a02-b12f-86569fd141ec",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3804b3de-6861-433e-9be5-fdbda468fe0d",
              "leftValue": "={{ $json.claude_verdict }}",
              "rightValue": "1",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        80,
        -128
      ],
      "id": "9656b5bc-d30f-4fe8-9ec3-fc8939cfa42e",
      "name": "Filter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/hKByXkMQaC5Qt9UMN/run-sync-get-dataset-items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer <TOKEN_HERE>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"count\": 100,\n    \"scrapeCompany\": true,\n    \"urls\": [\n        \"https://de.linkedin.com/jobs/search?keywords=AI&location=Germany&geoId=101282230&f_E=1&f_TPR=r604800&position=1&pageNum=0\"\n    ]\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -464,
        80
      ],
      "id": "cb641a22-ed94-4376-8094-17a056e4fcda",
      "name": "apify"
    },
    {
      "parameters": {
        "jsCode": "// Get Claude responses (with IDs and verdicts)\nconst claudeResults = $('Message a model').all().map(item => {\n  const response = JSON.parse(item.json.content[0].text);\n  return {\n    id: response.id,\n    verdict: response.verdict\n  };\n});\n//$('apify').first().json.id\n// Get original HTTP job results\nconst httpJobs = $('apify').all(); // Your original job data\n\n// Merge HTTP data with Claude verdicts\nconst mergedJobs = httpJobs.map(job => {\n  const claudeResult = claudeResults.find(c => c.id === job.json.id);\n  \n  return {\n    json: {\n      ...job.json, // All original HTTP job data\n      claude_verdict: claudeResult ? claudeResult.verdict : \"false\",\n      passes_filter: claudeResult ? claudeResult.verdict === \"true\" : false\n    }\n  };\n});\n\nreturn mergedJobs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        -128
      ],
      "id": "56559cca-e81f-4a69-914d-857bc5214479",
      "name": "Code2"
    },
    {
      "parameters": {
        "jsCode": "// Get filtered job data\nconst filteredJobs = items;\n\n// Define Excel headers matching your JSON structure\nconst headers = [\n  'ID',\n  'Link',\n  'Title', \n  'Company Name',\n  'Company LinkedIn URL',\n  'Location',\n  'Salary Info',\n  'Apply URL',\n  'Description',\n  'Employment Type',\n  'Input URL',\n  'Company Website',\n  'Claude Verdict',\n  'Approved',\n  'Date Filtered'\n];\n\n// Function to clean data for Excel\nfunction cleanForExcel(value) {\n  if (value === null || value === undefined) return '';\n  if (typeof value === 'object') return JSON.stringify(value);\n  return String(value).replace(/[\\n\\r]/g, ' ').trim();\n}\n\n// Create Excel rows from filtered JSON data\nconst excelRows = filteredJobs.map(item => {\n  const job = item.json;\n  return [\n    cleanForExcel(job.id),\n    cleanForExcel(job.link),\n    cleanForExcel(job.title),\n    cleanForExcel(job.companyName),\n    cleanForExcel(job.companyLinkedinUrl),\n    cleanForExcel(job.location),\n    cleanForExcel(job.salaryInfo),\n    cleanForExcel(job.applyUrl),\n    cleanForExcel(job.descriptionText),\n    cleanForExcel(job.employmentType),\n    cleanForExcel(job.inputUrl),\n    cleanForExcel(job.companyWebsite),\n    cleanForExcel(job.claude_verdict),\n    cleanForExcel(job.approved),\n    new Date().toISOString().split('T')[0]\n  ];\n});\n\n// Create CSV content (Excel can read CSV)\nconst csvContent = [\n  headers.join(','),\n  ...excelRows.map(row => \n    row.map(cell => `\"${String(cell).replace(/\"/g, '\"\"')}\"`).join(',')\n  )\n].join('\\n');\n\n// Create Excel file\nconst fileName = `filtered_jobs_${new Date().toISOString().split('T')[0]}.xlsx`;\n\nreturn [{\n  json: {\n    fileName: fileName,\n    totalFilteredJobs: filteredJobs.length,\n    fileCreated: true,\n    message: `Created Excel file with ${filteredJobs.length} filtered jobs`\n  },\n  binary: {\n    data: {\n      data: Buffer.from(csvContent, 'utf8').toString('base64'),\n      mimeType: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',\n      fileName: fileName\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -128
      ],
      "id": "30072229-8074-434b-8971-ab9cc7c5e9f2",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "./filtered_jobs.xlsx  ",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        576,
        -128
      ],
      "id": "35d29c3c-91e6-4bab-a061-59a84d9cde1d",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-3-sonnet-20240229",
          "mode": "list",
          "cachedResultName": "claude-3-sonnet-20240229"
        },
        "messages": {
          "values": [
            {
              "content": "=Research this company and find contact emails for job application outreach.\n\nCompany: {{ $json.companyName }}\nWebsite: {{ $json.companyWebsite }}\nLinkedIn: {{ $json.companyLinkedinUrl }}\nJob Title: {{ $json.title }}\nJob Description: {{ $json.descriptionText }}\n\nProvide research including:\n1. Company background and recent news\n2. Technology stack they use\n3. Company culture and values\n4. One specific insight that shows deep understanding\n5. MOST IMPORTANT: Find or guess the best email addresses to contact for this job\n\nFor email finding:\n- Look for hiring manager, recruiter, or HR contact emails\n- If specific emails not found, suggest best generic emails based on company domain\n- Try patterns like: jobs@, careers@, hr@, hiring@, recruiter@, talent@\n- If you find specific names, suggest firstname.lastname@ or f.lastname@ patterns\n\nRespond in JSON format:\n{\n  \"companyOverview\": \"Brief description\",\n  \"recentNews\": \"Latest developments\",\n  \"techStack\": \"Technologies used\",\n  \"keyInsight\": \"One specific insight for email\",\n  \"targetEmails\": [\"email1@company.com\", \"email2@company.com\"],\n  \"bestEmail\": \"mostlikely@company.com\",\n  \"emailReasoning\": \"Why this email was chosen\"\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        320,
        96
      ],
      "id": "cec598a2-68fa-432e-8db1-0cae5efb9eb3",
      "name": "Company Research"
    },
    {
      "parameters": {
        "jsCode": "// Parse company research and extract best email\nconst researchResponse = $('Company Research').first().json.content[0].text;\nconst research = JSON.parse(researchResponse);\nconst jobData = $('Filter').first().json;\n\n// Combine job data with research and email info\nconst enrichedData = {\n  json: {\n    ...jobData,\n    companyResearch: research,\n    targetEmail: research.bestEmail,\n    alternativeEmails: research.targetEmails,\n    emailReasoning: research.emailReasoning\n  }\n};\n\nconsole.log(`Found target email: ${research.bestEmail} for ${jobData.companyName}`);\nreturn [enrichedData];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        96
      ],
      "id": "5100bd0c-b99a-4d87-aa87-fbc5d12317ab",
      "name": "Email Processor"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-3-haiku-20240307",
          "mode": "list",
          "cachedResultName": "claude-3-haiku-20240307"
        },
        "messages": {
          "values": [
            {
              "content": "=Write a short enthusiastic email to the hiring manager.\n\nCandidate: Srihari Ananthan\n- M.Sc. Computer Science student (3rd semester) at SRH Berlin\n- 3+ years software development experience\n- Seeking Pflichtpraktikum (mandatory internship)\n- Location: Berlin, Germany\n\nJob Details:\nCompany: {{ $json.companyName }}\nPosition: {{ $json.title }}\nTarget Email: {{ $json.targetEmail }}\n\nCompany Research:\n{{ JSON.stringify($json.companyResearch) }}\n\nWrite a brief email (max 120 words) showing enthusiasm and including one insight from the research. Include subject line.\n\nRespond in JSON format:\n{\n  \"subject\": \"Subject line\",\n  \"emailBody\": \"Email content\"\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        784,
        96
      ],
      "id": "d011ca48-b0ad-488e-880d-acea4427207e",
      "name": "Email Generator"
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "sendTo": "=",
        "subject": "={{ JSON.parse($('Email Generator').first().json.content[0].text).subject }}",
        "emailType": "text",
        "message": "={{ JSON.parse($('Email Generator').first().json.content[0].text).emailBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1104,
        96
      ],
      "id": "779f6962-c0b9-4c1c-b66e-dad149ba3f1e",
      "name": "Send Email",
      "webhookId": "2cff0827-5041-4e83-838f-1b8f644c906c"
    }
  ],
  "pinData": {},
  "connections": {
    "Message a model": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "apify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Company Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "apify": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company Research": {
      "main": [
        [
          {
            "node": "Email Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Processor": {
      "main": [
        [
          {
            "node": "Email Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Generator": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "23192e51-435e-40a3-a8d0-7e2fc8126486",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e622aa0e0bb14c0d3756fbcdbb87f00b19dd6b9d4ad68dab8966e0cae97026d3"
  },
  "id": "dlbEifVft74dA0W0",
  "tags": []
}